/.bundle/
/Gemfile.lock
/gemfiles/*.gemfile.lock
/coverage/
/doc/
/pkg/
*.gem
/spec/dummy/log/
/spec/dummy/tmp/
/spec/dummy/db/*.sqlite3
/tmp/

# rbenv / chruby
.ruby-version

# Editors
.idea/
.vscode/
*.swp
.DS_Store
